body{
    text-align: center;
    
}
#heading{
    font-size: 70px;
    color: #167cb9;
}

#image{
    width: 300px;
    height: 400px;
}
#subheading{
    margin-top: -50px;
    color: #167cb9;
}

#nextbutton{
    width: 100px;
    height: 40px;
    font-size: 30px;
    color: #FFC300;
    background-color: #AA336A;
}
